
<div class="login-card">
  <h2 class="login-title">Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="username">Nombre de usuario</label>
      <input id="username" type="text" formControlName="username" required class="input-field">
      <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched" class="error-message">
        El nombre de usuario es obligatorio
      </div>
    </div>

    <div class="form-field">
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password" required class="input-field">
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
        La contraseña es obligatoria
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="login-btn">
      Iniciar Sesión
    </button>
  </form>

  <div class="register-link">
  <a routerLink="/register" routerLinkActive="active">¿No tienes cuenta? Regístrate</a>
  </div>
</div>

<app-error-dialog
  [message]="errorDialogMessage"
  [visible]="showErrorDialog"
  (closed)="closeErrorDialog()">
</app-error-dialog>
